# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
.pytest_cache/

# Environment variables
.env
.env.local

# Static files
static/temp/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db
